@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&display=swap');

body {
  background-color: #f7c9c9;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;

}

html {
  scroll-behavior: smooth;
}

#loading{
  position: fixed;
  z-index: 999;
  width:100%;
  height:100%;
  background: #f7c9c9;
}

.text {
  max-width: 50vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}


#title1 {
  margin-left: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  font-size: 7vw;
  margin-bottom: 500%;
  color: rgb(44, 44, 44);
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Prata', serif;*/
}

#leftalign {
  justify-content: flex-start;
}

#subtitle {
  font-size: 1vw;
  color: rgb(44, 44, 44);
  letter-spacing: 3px;

}




#model {
  top: -1%;
  position: fixed;
  width: 145%;
  height: 101%;
  border: none;
  z-index: -1;
}


.btn {
  margin-top: 3vh;
  cursor: pointer;
  display: block;
  pointer-events: all;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}


.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-shadow-drop {
  background: rgb(255, 255, 255);
  padding: 20px;
  font-size: 10%;
  font-weight: 700;
  letter-spacing: 5px;
  transition: all 0.1s ease-in-out 0s;
}



.btn-shadow-drop:hover {
  left: 4px;
  top: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

.btn-shadow-drop--black {
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

.btn:active {
  transform: scale(0.95);
}

.btn::after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: width 1s ease-out, height 1s ease-out;
}



.scroll-down-arrow {
  position: absolute;
  top:90vh;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg);
  animation: scroll-down 1s infinite;
}

@keyframes scroll-down {
  0% {
    transform: rotate(45deg) translateY(0);
  }

  50% {
    transform: translateY(10px) rotate(45deg);
  }

  100% {
    transform: rotate(45deg) translateY(0);
  }
}



#heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

#description {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5vh;
}


#title2 {
  margin-right: 25%;
  margin-bottom: 10%;
  margin-left: 10%;
  min-height: 150vh;
  max-width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 5vw;
  background-color: rgb(255, 247, 247);
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10%;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 20px 20px 0px 0px;
}

nav {
  list-style-type: none;
  justify-content: flex-end;

  overflow: show;
  background-color: #fff4f4;

  max-height: 50px;
  min-height: 50px;
  font-family: 'Montserrat', sans-serif;

  display: flex;

  margin-top: 5vh;

  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);

}

li {

  float: left;
}

#smo{
  display: flex;
  align-items: center;
  color: rgb(32, 32, 32);
  text-align: center;
  padding: 14px;
  padding-bottom: 12px;
  min-height: 24px;
  text-decoration: none;
  padding-right: 3vw;
  padding-left: 3vw;
  transition: all 1 ease-in-out;
  background-color: #fff4f4;
}

#smo:hover {
  background-color: #f7c9c9;
}
.divide{
  margin-top: 10px;
  height:35px;
  border: 1px solid #a7a7a7;
}

.header {
  font-size: 4rem;
}

#divider {
  min-width: 20vw;
  border-bottom: 3px solid #333;
  margin-bottom: 3vh;
}

.playpause {

  margin-top: 1vh;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 37px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 18.5px 0 18.5px 30px;
}

.playpause.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}

.playpause:hover {
  border-color: transparent transparent transparent #404040;
}

#music {
  position:absolute;
  left:50%;
  
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #929292;
  z-index: 0;
}

.progress-bar {
  height: 8px;
  background: #333;
  width: 0%;
}

#top{
  position: fixed;
  display:flex;
  flex-direction: column;
  min-width: 100%;
  max-height: 10vh;
  left:-1px;
  right:-1px;
}

#contact {
  background-color: purple;
}


.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

}

.dropdown-button {
  z-index: 3;
  border: none;
}

.dropdown-content {
  z-index: 2;
  text-align: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top:15px;
}

.dropdown-link {
  font-size: 16px;
  padding: 15px;
  margin-top: 10px;
  pointer-events: all;
  text-decoration: underline;
}

#anchor{
  display:block;
  position:relative;
  margin-bottom: 400px;
}